#python Comments

**Python Comments**

1. Used to explain Python code.
2. Used to make the code more readable.
3. Used to prevent execution when testing code.

Single line Comment

In [ ]:
#comment
## comment
################# comment

Multi Line Comments

In [ ]:
"""""
num = input()
print(num)


num = input()
print('%d' % (num))
"""""

'""\nnum = input()\nprint(num)\n\n\nnum = input()\nprint(\'%d\' % (num))\n'

#  Variable assignement

 **Variable Assignment**

Rules for variable names declaration :
* names can not start with a number,
* names can not contain spaces, use _ intead 
* names can not contain any of these symbols,

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores,
* avoid using Python built-in keywords like `list` and `str`,
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0` (optional - for best pratice)

## Dynamic Typing

Python uses *dynamic typing*, which mean we can reassign variables to different data types. 
<br>This makes Python very flexible in assigning data types; it differs from other languages that are **statically typed**.

In [ ]:
num = 2

In [ ]:
num

2

In [ ]:
print(num)

2

In [ ]:
num =3

In [ ]:
num

3

In [ ]:
name= ['aaa', 'bbb']

In [ ]:
name

['aaa', 'bbb']

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with,
* faster development time.

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`.

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
n = 5

In [ ]:
n

5

Here we assigned the integer object `5` to the variable name `n`.<br>Let's assign `n` to something else:

## Reassigning Variables
 Reassign variables with a reference of the same object.

In [116]:
a = a + 5

In [117]:
a

445

We have a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [113]:
a += 15

In [114]:
a

220

In [118]:
a *= 2

In [119]:
a

890

Casting

In [ ]:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Case-Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float** (for float)
* **str** (for string)
* **list** (for list)
* **tuple** (for tuple)
* **dict** (for dictionary)
* **set** (for set)
* **bool** (for Boolean True/False)

In [ ]:
type(a) #identifying type of variable a

int

In [ ]:
a = (1,2)

In [ ]:
type(a)

tuple

#Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.
Global variables can be used by everyone, both inside of functions and outside.
Example
Create a variable outside of a function, and use it inside the function

Variables that are created outside of a function  are known as **global variables**.
Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"  #global variable

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**The global Keyword**


Normally, when we create a variable inside a function, that variable is local, and can only be used inside that function.
To create a global variable inside a function, you can use the  **global** keyword.

In [120]:

# use the global keyword, then the variable belongs to the global scope:
def myfunc():
  global x
  x = "Awesome"

myfunc()

print("Python is " + x)

Python is Awesome

## Data Types in Python

As we know that python is Dynamically typed programming language, than why do we need to learn about data type at all?

Although python automatically understands the data type, but it is important to know about data types so that we can utilize the power of data structures in future.

Basic Data Types available in python are:
<pre>
    <b>Numeric</b> - int, float, complex (Immutable)
    <b>Strings</b> (Immutable)
    <b>List</b> (Mutable, mostly used to store homogeneous data types)
    <b>Tuple</b> (Immutable, faster compared to List)
    <b>Set</b> (Unordered collection of items, mutable, removes duplicates)
    <b>Dictionary</b> (Unordered collection of Key-Value Pairs, Mutable, Keys are Unique - values may not be unique)
</pre>

#Booleans

Booleans represent one of two values: <br> **True or False**.

In programming we often need to know, if an expression is True or False.
You can evaluate any expression in Python, and get one of two answers, True or False.

In [ ]:
print(10 > 9)

True

In [121]:
a = 10
b = 1

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Evaluate Values and Variables**

The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool("Hello"))

True

In [ ]:
print(bool(0))

True

In [ ]:
print(bool(0.0))

False

In [ ]:
print(bool(-1))

True

In [ ]:
print(bool(0.1))

True

#Numeric Data Type

Integer literals are created by any number without a decimal or complex component.

In [123]:
a = 5

print(type(a))

print(type(5.0))

print(isinstance(a, int))

<class 'int'>
<class 'float'>
True

In [124]:
# Decimal, Binary, Octal, Hexadecimal

# bin(), oct(), hex()


a = 0B100

b = 0o100

c = 0x100

print(a)

print(b)

print(c)

4
64
256

In [131]:
a = 0xFabc    # 0xF was  0x0000000F in hexadecimal
 
print(a)

64188

In [ ]:
b = 10.34

print(type(b))

<class 'float'>

In [132]:
f = 1.2e54

# f= 1.25e54 and f= 1.25e+54 are equivalent

print(f)

1.2e+54

In [ ]:
a = 0b5.1
print(a)

SyntaxError: ignored

In [ ]:
x = 5 + 10j

print(type(x))

<class 'complex'>

In [ ]:
c = 10+2j

print(type(c))

print(c + 5)

print(isinstance(c, complex))

print((c.real))

print(c.imag)

<class 'complex'>
(15+20j)
True
10.0
20.0

In [ ]:
print(type(c.real))

<class 'float'>

In [ ]:
print(c.real)

10.0

In [ ]:
c = 0b100 + 100j

print(c)

(4+10j)

In [ ]:
a = True

print(type(a))

<class 'bool'>

In [133]:
a = 1

print(id(a))

94346417572352

**Strong Typing**

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [ ]:
'hi ' + 1

TypeError: ignored

In [ ]:
' hi ' + str(1)

'Day 1'

#Strings data type

Strings are used in Python to record text information, such as names,places,objects,etc..
Python keeps track of each and every element in the string as a sequence. 

String literals can be represented with any of single quotes ('), double quotes (") or triple quotes (''' or """).

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

**Creating a String**

In [ ]:
# Single word
'hello'

In [ ]:
# Entire phrase 
'This is a string'

In [ ]:
# We can also use double quote
"String  with double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this throws  an error'

SyntaxError: ignored

Printing a String

In [ ]:
# We can simply declare a string
'Hello World'

'Hello World'

In [ ]:
# we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

**String Basics**

Python can use indexes to call parts of the sequence.

In Python, we use brackets <code>[]</code> after an object to call its index. 
Indexing starts at 0.

In [ ]:
# Assign s as a string
s = 'Hello World'

In [ ]:
#Check
s

In [ ]:
# Print the object
print(s)

In [ ]:
# Show first element (in this case a letter)
s[0]

'h'

In [134]:
s[6]

'w'

We can use a : to perform slicing which grabs everything up to a designated point.

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [135]:
# Note that there is no change to the original s
s

'hello-world-hi'

In [136]:
# Grab everything up tp 3rd index
s[:3]

'hel'

in above code we can grab everything from 0 up to 3. It doesn't include the 3rd index.

In [ ]:
#Everything
s[:]

'Hello World'

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [ ]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). 
For the instance we can use two colons in a row and then a number specifying the frequency to grab elements.

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [ ]:
# We can use this to print a string backwards
s[::-2]

'drWolH'

**String Properties**

It's important to note that strings have an important property known as **immutability**. 
It means that once a string is created, the elements within it can not be changed or replaced.

In [ ]:
s

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: ignored

In [ ]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [ ]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [ ]:
s

'Hello World'

In [ ]:
letter = 'z'

In [ ]:
letter = 'z'

**Basic Built-in String methods**

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

In [ ]:
# Upper Case a string
s.upper()

'HELLO WORLD'

In [137]:
# Lower case
s.lower()

'hello-world-hi'

In [ ]:
s="hello-world-hi"

In [140]:
# Split a string by blank space (this is the default)
s.split("-")

['hello', 'world', 'hi']

In [139]:
# Removes extra white spaces from front and back
s.strip()

'hello-world-hi'

In [142]:
# Split by a specific element (doesn't include the element that was split on)
s.split('l')

['he', '', 'o-wor', 'd-hi']

In [143]:
s = 'Hi hello welcome!'

print(s.find('learning'))

s = s.replace('leaning', 'learning')

print(s)

split_string = s.split(' ')

print(type(split_string))

print(split_string)

print(' '.join(split_string))

-1
Hi hello welcome!
<class 'list'>
['Hi', 'hello', 'welcome!']
Hi hello welcome!

There are many more methods.
like,
1.isalpha(), isdigit(), isspace()
2. startswith('abc'), endswith('abc')
3.find('abc') returns first index, otherwise -1
4.replace('old', 'new')
5.split(' ') return list
6. ' '.join(list) return string

**Print Formatting**

We can use the .format() method to add formatted objects to printed string statements.

In [ ]:
'Insert another string with curly brackets: {}'.format('string')

'Insert another string with curly brackets: The inserted string'