#String Formatting

**Formatting with placeholders**
use %s to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".

In [ ]:
print("This is python %s ." %'code')

This is python code .

we can pass multiple items by placing them inside a tuple after the % operator.

In [ ]:
print("This  is  %s code , and python is %s to learn." %('python','easy'))

This  is  python code , and python is easy to learn.

we can also pass variable also:

In [ ]:
x, y = 'python', 'easy'
print("This  is  %s code , and python is %s to learn."%(x,y))

This  is  python code , and python is easy to learn.

**Format conversion methods**

It should be noted that two methods %s and %r convert any python object to a string using two separate methods: str() and repr().

In [ ]:
print('python is %s.' %'easy')
print('python is %r.' %'easy')

python is easy.
python is 'easy'.

'\t' inserts a tab into a string

In [ ]:
print('python is  %s.' %'\teasy')
print('python is %r.' %'\teasy')

python is  	easy.
python is '\teasy'.

The %s operator converts whatever it sees into a string, including integers and floats. 
The %d operator converts numbers to integers first, without rounding.

In [ ]:
print('current python version is %s ' %3.6)
print('current python version is %d' %3.6)

current python version is 3.6
current python version is 3

**Padding and Precision of Floating Point Numbers**

Floating point numbers use the format %10.2f. Here, 10 would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, .2f stands for how many numbers to show past the decimal point.

In [ ]:


print('Floating point numbers: %1.0f' %(13.144))

print('Floating point numbers: %1.5f' %(13.144))

print('Floating point numbers: %10.2f' %(13.144))

print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers: 13
Floating point numbers: 13.14400
Floating point numbers:      13.14
Floating point numbers:                     13.14

**Multiple Formatting**

In [ ]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

**Formatting with the .format() method**

A better way to format objects into your strings for print statements is with the string .format() method.

In [ ]:
print('Python is  {}'.format('easy'))

Python is  easy

**The .format() method has several advantages over the %s placeholder method**

In [ ]:
#1. Inserted objects can be called by index position:
print(' {2} {1} {0}'.format('python','is',123))

#2. Inserted objects can be assigned keywords:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

#3. Inserted objects can be reused, avoiding duplication:
print('%s is easy and  %s easy to learn .' %('python','python'))

print('{p} is  easy {p} easy to learn.'.format(p='python'))

 123 is python
First Object: 1, Second Object: Two, Third Object: 12.3
python is easy and  python easy to learn .
python is  easy python easy to learn.

**Alignment, padding and precision with .format()**

Within the curly braces we can assign field lengths, left/right alignments, rounding parameters and more..

In [ ]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

By default, .format() aligns text to the left, numbers to the right. we can pass an optional <,^, or > to set a left, center or right alignment:

In [ ]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [ ]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

Field widths and float precision are handled in a way similar to placeholders. The following two print statements are equivalent

In [ ]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58
This is my ten-character, two-decimal number:     13.58

**Formatted String Literals (f-strings)**

In [ ]:
name = 'python'

print(f"Now we learing {name}.")

Now we learing python.

Pass !r to get the string representation:

In [ ]:
print(f"{name!r} is easy")

'python' is easy

In [ ]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

#Lists

Lists can be thought of the most general version of a sequence in Python. 
Unlike strings, they are mutable.
let we see how to

1.   Creating lists
2.   Indexing and Slicing Lists
3.   Basic List Methods
4.   Nesting Lists
5.   Introduction to List Comprehensions


Lists are constructed with brackets [] and commas separating every element in the list.

In [ ]:
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types.

In [ ]:

my_list = ['A string',23,100.232,'o']

The len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

4

In [ ]:
my_list

['A string', 23, 100.232, 'o']

**Indexing and Slicing**

Indexing and slicing work just like in strings.

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [ ]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [ ]:
my_list

['one', 'two', 'three', 4, 5]

we need to reassign the list to make the change permanent.

In [ ]:


# Reassign
my_list = my_list + ['add new item ']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'add new item ', 'add new item ']

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item ',
 'add new item ',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item ',
 'add new item ']

In [ ]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item ', 'add new item ']

**Basic List Methods**

 Lists in python having: 
  

1. no fixed size
2. they have no fixed type constraint

In [ ]:
# Create a new list
list1 = [1,2,3]

Use the append method to permanently add an item to the end of a list:

In [ ]:
# Append
list1.append('append me!')

In [ ]:
list1

[1, 2, 3, 'append me!']

In [ ]:
lst_one = ['one', 'two', 'three']
lst_two = ['four', 'five']

# append(), +

lst_one.append(lst_two)

print(lst_one)

['one', 'two', 'three', ['four', 'five']]

In [ ]:
lst_one = ['one', 'two', 'three']
lst_two = ['four', 'five']

print(lst_one + lst_two)

['one', 'two', 'three', 'four', 'five']

In [ ]:
lst_one = ['one', 'two', 'three']
lst_two = ['four', 'five']

print(lst_one.extend(lst_two))

None

In [ ]:
# Program to sort the words in alphabetical order

myStr = 'i want to sort this string'

words = myStr.split()

print(words)

words.sort()

print(' '.join(words))

['i', 'want', 'to', 'sort', 'this', 'string']
i sort string this to want

In [ ]:
# Count even and odd occurences in a List

lst_num = [1, 2, 3, 4, 5]
even = 0
odd = 0

for num in lst_num:
    if num % 2 == 0:
        even = even + 1
    else:
        odd = odd + 1

print('Even Count: ',even)

print('Odd Count: ', odd)

Even Count:  2
Odd Count:  3

Use pop to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [ ]:
# Pop off the 0 indexed item
list1.pop(0)

In [ ]:
# Show
list1

[1, 2, 3, 'append me!']

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

'append me!'

In [ ]:
# Show remaining list
list1

[1, 2, 3]

we need to note that lists indexing will return an error if there is no element at that index. For example

In [ ]:
list1[100]

IndexError: ignored

In [ ]:
new_list = ['a','e','i','o','u']

#Show
new_list

# Use reverse to reverse order (this is permanent!)
new_list.reverse()

new_list

['u', 'o', 'i', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort(reverse=True)

new_list

['u', 'o', 'i', 'e', 'a']

**Nesting Lists**
A list inside a list is known as nested list.( data structures within data structures)

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

 use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list.

In [ ]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

**List Comprehensions**

 list comprehensions, allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops.

In [ ]:
list=[1,2,3]

In [ ]:
first_col=[x[0] for x in matrix]

In [ ]:
first_col

[1, 4, 7]

#Shallow Copy & Deep Copy

In [ ]:
# copying

lst_1 = [1, 2, 3, 4]

lst_2 = lst_1.copy() # try l1.copy()

# If we perform any change in lst_2, would that change be reflected in lst_1?

lst_2[2] = 'Now'

print(lst_1)

print(lst_2)

# '=' aliasing

# copy() cloning

[1, 2, 3, 4]
[1, 2, 'Now', 4]

In [ ]:
import copy as c

lst_1 = [1, 2, [3, 4], 5]

lst_2 = c.copy(lst_1)

lst_1[2][0] = '8'



print(lst_1)

print(lst_2)

[1, 2, ['8', 4], 5]
[1, 2, ['8', 4], 5]

In [ ]:
import copy as c

lst_1 = [1, 2, [3, 4], 5]

lst_2 = c.deepcopy(lst_1)

lst_1[2][0] = 'Now'

print(lst_1)

print(lst_2)

[1, 2, ['Now', 4], 5]
[1, 2, [3, 4], 5]

In [ ]:
lst_1 = [1,2,[3,4],5]

lst_2 = lst_1.copy()

lst_1[2][0] = 'Now'

print(lst_1)

print(lst_2)

[1, 2, ['Now', 4], 5]
[1, 2, ['Now', 4], 5]

# Dictionaries

we going to learn about mappings in Python.
let we see

1.) Constructing a Dictionary<br>
2.) Accessing objects from a dictionary<br>
3.) Nesting Dictionaries<br>
4.) Basic Dictionary Methods<br>

So what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

**what is mapping?**

 Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

Constructing a Dictionary

In [ ]:
# initialization

dict = {}

print(type(dict))

<class 'dict'>

In [ ]:
dict = {1:'abc', 2:'efg', 'name':'xyz'}

print(dict)

{1: 'abc', 2: 'efg', 'name': 'xyz'}

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

Ddictionaries are very flexible in the data types they can hold.

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# L items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
#  index on that value
my_dict['key3'][0]

'item0'

In [ ]:
# call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well.

In [ ]:
my_dict['key1']

123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

0

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

In [ ]:
dict = {1:'abc', 2:'efg', 'name':'xyz'}

print(dict)

{1: 'abc', 2: 'efg', 'name': 'xyz'}

In [ ]:
# # updating dictionary

print(dict)

dict['name'] = 'lmn'

dict['age'] = 20

print(dict)

<class 'dict'>

TypeError: ignored

In [ ]:
# Deleting elements

del dict['name']
print(dict)

dict.clear()
print(dict)

{1: 'abc', 2: 'efg'}
{}

In [ ]:
# No duplicate keys

dict = {1:'abc', 2:'efg', 'name':'xyz', 1:'ABC'}

print(dict)

{1: 'ABC', 2: 'efg', 'name': 'xyz'}

**Nesting with Dictionaries**

In [ ]:



# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:

#  calling the keys
d['key1']['nestkey']

{'subnestkey': 'value'}

In [ ]:

#  calling the keys
d['key1']['nestkey']['subnestkey']

'value'

**A few Dictionary Methods**

There are a few methods we can call on a dictionary.

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:

# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:

# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

#Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

let see about

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

**Constructing Tuples**

The construction of a tuples use () with elements separated by commas.

In [ ]:
#initialization

t = ()

print(type(t))

<class 'tuple'>

In [ ]:
t = tuple()

print(type(t))

<class 'tuple'>

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
#  len 
len(t)

3

In [ ]:
#  mix object types
t = ('one',2)

# Show
t

('one', 2)

In [ ]:
# Use indexing s
t[0]

'one'

In [ ]:
# Slicing 
t[-1]

2

**Basic Tuple Methods**

Tuples have built-in methods, but not as many as lists do.

In [ ]:
# .index to enter a value and return the index
t.index('one')

0

In [ ]:
# .count to count the number of times a value appears
t.count('one')

1

**Immutability**

In [ ]:
t[0]= 'change'

TypeError: ignored

In [ ]:
t.append('nope')

AttributeError: ignored

In [ ]:
t = (1, 2, 3, 4, 5, 6, 7, 1, 2, 1)

# count(element)
print(t.count(1))

3

In [ ]:

# index(element)
print(t.index(7))

In [ ]:
# len()
print(len(t))

In [ ]:
# min()
print(min(t))

In [ ]:

# max()
print(max(t))

In [ ]:

# sum()
print(sum(t))

In [ ]:
# del the tuple
del t

When to use Tuples

 Tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

#Set



**Sets**

Sets are an unordered collection of unique elements. We can construct them by using the set() function.

In [ ]:
# initialization

s = set()

print(type(s))

<class 'set'>

In [ ]:
s = {}

print(type(s))

s = {1, 2, 3}

print(s)

print(type(s))

In [ ]:
x = set()

# We add to sets with the add() method
x.add(1)

#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We need to know that a set has only unique entries.

In [ ]:
# Add a different element
x.add(2)

In [ ]:
# Add a different element
x.add(2)

#Show
x

{1, 2}

In [ ]:
# Try to add the same element
x.add(1)

x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements.

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(list1)

{1, 2, 3}

In [ ]:
# Set from list
l = [1, 2, 3, 4, 1 , 5, 2]

s = set(l)

print(s)

{1, 2, 3, 4, 5}

In [ ]:
# try index
s = {1, 2, 3}

print(s[1])

TypeError: ignored

In [ ]:
s.update([5, 6, 7, 1])

print(s)

{1, 2, 3, 5, 6, 7}

In [ ]:
s.discard(5)

print(s)

{1, 2, 3, 6, 7}

In [ ]:
s.remove(3)

print(s)

{1, 2, 6, 7}

In [ ]:
s = {1, 2, 3, 4, 5, 6, 7, 8}

s.pop()

print(s)

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
s.pop()

print(s)

{3, 4, 5, 6, 7, 8}

In [ ]:
# Set Operations

set1 = {1, 2, 3}
set2 = {3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
print(set1 | set2)

In [ ]:

print(set1.union(set2))

In [ ]:

print(set1 & set2)

In [ ]:

print(set1.intersection(set2))

In [ ]:

print(set1 - set2)

In [ ]:

print(set1.difference(set2))

In [ ]:

print(set1 ^ set2)

In [ ]:

print(set1.symmetric_difference(set2))

In [ ]:
#issubset() & issuperset()

set1 = {'a', 'b', 'c', 'd', 'e'}
set2 = {'c', 'e'}

print(set2.issubset(set1))

print(set1.issubset(set2))

print(set1.issuperset(set2))

True
False
True