# Comparison Operators



Operators will allow us to compare variables and output a Boolean value (True or False). 


<h2> Table of Comparison Operators </h2><p>  In the table below, a=10 and b=20.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%" >Operator</th><th style="width:45%" ">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

**Equal**

In [55]:
2 == 2

True

In [56]:
1 == 0

False

<code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

**Not Equal**

In [57]:
2 != 1

True

In [58]:
2 != 2

False

**Greater Than**

In [59]:
2 > 1

True

In [60]:
2 > 4

False

**Less Than**

In [61]:
2 < 4

True

In [62]:
2 < 1

False

**Greater Than or Equal to**

In [63]:
2 >= 2

True

In [64]:
2 >= 1

True

**Less than or Equal to**

In [65]:
2 <= 2

True

In [66]:
2 <= 4

True

#chained comparison operators

In [1]:
10 < 20 < 30

True

The above statement checks if 10 was less than 20 **and** if 20 was less than 30.

In [67]:
10<20 and 20<30

True

The **and** is used to make sure two checks have to be true in order for the total check to be true.

In [68]:
1 < 3 > 2

True

In [69]:
1<3 and 3>2

True

In [70]:
1==2 or 2<3

True

In [71]:
1==1 or 100==1

True

#If Else statements

if case1:
    perform action1
elif case2:
    perform action2
else: 
    perform action3

In [72]:
if True:
    print('It was true!')

It was true!

In [73]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [74]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

In [10]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [11]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

#For loop

for item in object:
    statements to do stuff

In [75]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [76]:
for x in list1:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [77]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [78]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [16]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [18]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [79]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [80]:
list2 = [(2,4),(6,8),(10,12)]

In [81]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [82]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)
    print(t2)

2
4
6
8
10
12

In [83]:
d = {'k1':1,'k2':2,'k3':3}

In [84]:
for item in d:
    print(item)

k1
k2
k3

In [85]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [86]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [87]:
list(d.keys())

['k1', 'k2', 'k3']

In [88]:
sorted(d.values())

[1, 2, 3]

#while Loops

The general format of a while loop is:

while test:
    code statements
else:
    final code statements

In [89]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [90]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

**break, continue, pass**


We can use break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

**break**: Breaks out of the current closest enclosing loop.<br>
**continue**: Goes to the top of the closest enclosing loop.<br>
**pass**: Does nothing at all.<br>

break and continue statements can appear anywhere inside the loopâ€™s body, but we will usually put them further nested in conjunction with an if statement to perform an action based on some condition.

In [ ]:
while test: 
    code statement
    if test: 
        break
    if test: 
        continue 
else:

In [91]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [92]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [ ]:


# DO NOT RUN THIS CODE!!!! 
"""
while True:
   print("I'm stuck in an infinite loop!")

"""

#Operators

**range**

The range function allows you to quickly generate a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [93]:
range(0,11)

range(0, 11)

In [94]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [96]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#enumerate

In [97]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [98]:
# Notice the tuple unpacking!

for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [100]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

#zip

It was a list of tuples, meaning we could use tuple unpacking during our for loop. This data structure is actually very common in Python , especially when working with outside libraries. You can use the zip() function to quickly create a list of tuples by "zipping" up together two lists

In [105]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [102]:
# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(mylist1,mylist2)

In [106]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
mylist1 = [1,2,3,4,5,6,7]
mylist2 = ['a','b','c','d','e']

In [ ]:
list(zip(mylist1,mylist2))

In [104]:
for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

#in operator

In [107]:
'x' in ['x','y','z']

True

In [108]:
'x' in [1,2,3]

False

#not in

In [109]:
'x' not in ['x','y','z']

False

In [110]:
'x' not in [1,2,3]

True

#min and max

In [37]:
mylist = [10,20,30,40,100]

In [38]:
min(mylist)

10

In [39]:
max(mylist)

100

#random

In [112]:
mylist = [10,20,30,40,100]

In [113]:
from random import shuffle

In [114]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

In [115]:
mylist

[30, 20, 10, 40, 100]

In [116]:
from random import randint

In [117]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

27

In [118]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

0

# List Comprehensions

In [45]:
# Grab every letter in string
lst = [x for x in 'word']

In [46]:
# Check
lst

['w', 'o', 'r', 'd']

In [54]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [49]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [50]:
lst

[0, 2, 4, 6, 8, 10]

In [51]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]