# Methods

Methods are essentially functions built into objects. 

Methods perform specific actions on an object and can also take arguments, just like a function. 

Methods are in the form:

object.method(arg1,arg2,etc...)

In [76]:
# Create a simple list
lst = [1,2,3,4,5]

In [77]:
lst

[1, 2, 3, 4, 5]

In [78]:
lst.append(8)

In [79]:
lst

[1, 2, 3, 4, 5, 8]

In [81]:
lst.count(2)

1

In [82]:
help(lst.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

# **function**

**Function**

A function is a useful device that groups together a set of statements so they can be run more than once. 

They can also let us specify parameters that can serve as inputs to the functions.

Functions allow us to not have to repeatedly write the same code again and again. 

Functions will be one of most basic levels of reusing code in Python.

**Why to use functions?**

You should use functions when you plan on using a block of code multiple times. 

The function will allow you to call the same block of code without having to write it multiple times.

***Function Topics***

def keyword<br>
simple example of a function<br>
calling a function with ()<br>
accepting parameters<br>
print versus return<br>
adding in logic inside a function<br>
multiple returns inside a function<br>
adding in loops inside a function<br>
tuple unpacking<br>
interactions between functions

**def keyword**

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result

In [83]:
def say_hello():
    print('hello')

Calling a function with ()

In [84]:
say_hello()

hello

**Accepting parameters (arguments)**

In [85]:
def greeting(name):
    print(f'Hello {name}')

In [86]:
greeting('Jack')

Hello Jack

In [87]:
name='Rose'
greeting(name)

Hello Rose

**Using return**

 return statement. return allows a function to return a result that can then be stored as a variable, or used in whatever manner a user wants.

In [88]:
def add_num(num1,num2):
    return num1+num2

In [9]:
add_num(4,5)

9

In [10]:
# Can also save as variable due to return
result = add_num(4,5)

In [90]:
result

9

In [91]:
add_num('one','two')

'onetwo'

**difference between return and print**

In [93]:
def print_result(a,b):
    print(a+b)

In [94]:
print_result(10,5)

15

In [95]:
my_result = print_result(20,20)

40

In [96]:
my_result

In [97]:
type(my_result)

NoneType

print_result() doesn't let you actually save the result to a variable! It only prints it out, with print() returning None for the assignment!

In [98]:
def even_check(number):
    return number % 2 == 0

In [99]:
even_check(20)

True

In [100]:
even_check(21)

False

***Check if any number in a list is even***

In [104]:
def check_even_list(num_list):
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we return True
        if number % 2 == 0:
            print(number)
            return True
        # Otherwise we don't do anything
        else:
            pass

In [105]:
check_even_list([1,2,3,4])

2

True

In [102]:
check_even_list([1,1,1])

In [107]:
def check_even_list(num_list):
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we return True
        if number % 2 == 0:
            return True
        # This is WRONG! This returns False at the very first odd number!
        # It doesn't end up checking the other numbers in the list!
        else:
            return False

In [37]:
check_even_list([1,2,3])

False

**Return all even numbers in a list**

In [108]:
def check_even_list(num_list):
    
    even_numbers = []
    
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return even_numbers

In [109]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [110]:
check_even_list([1,3,5])

[]

**Returning Tuples for Unpacking**

In [111]:
stock_prices = [('AAPL',200),('GOOG',300),('MSFT',400)]

In [112]:
for item in stock_prices:
    print(item)

('AAPL', 200)
('GOOG', 300)
('MSFT', 400)

In [113]:
for stock,price in stock_prices:
    print(stock)

AAPL
GOOG
MSFT

In [44]:
for stock,price in stock_prices:
    print(price)

200
300
400

functions often return tuple

In [45]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [114]:
def employee_check(work_hours):
    
    # Set some max value to intially beat, like zero hours
    current_max = 0
    # Set some empty value before the loop
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Notice the indentation here
    return (employee_of_month,current_max)

In [47]:
employee_check(work_hours)

('Cassie', 800)

**GAME**

In [48]:
mylist = [' ','O',' ']

In [115]:
from random import shuffle

def shuffle_list(mylist):
    # Take in list, and returned shuffle versioned
    shuffle(mylist)
    
    return mylist

In [51]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        
        # Recall input() returns a string
        guess = input("Pick a number: 0, 1, or 2:  ")
    
    return int(guess)

In [52]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct Guess!')
    else:
        print('Wrong! Better luck next time')
        print(mylist)

In [117]:
# Initial List
mylist = [' ','O',' ']

# Shuffle It
mixedup_list = shuffle_list(mylist)

# Get User's Guess
guess = player_guess()

# Check User's Guess
#------------------------
# Notice how this function takes in the input 
# based on the output of other functions!
check_guess(mixedup_list,guess)

Pick a number: 0, 1, or 2:  1
Wrong! Better luck next time
['O', ' ', ' ']

# Map function

The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list

syn: map(fun, iter)

In [54]:
def square(num):
    return num**2

In [55]:
my_nums = [1,2,3,4,5]

In [118]:
map(square,my_nums)

In [119]:
# To get the results, either iterate through map() 
# or just cast to a list
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [58]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [59]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [120]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

In [121]:
# Return double of n
def mul(n):
    return n * n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(mul, numbers)
print(list(result))

[1, 4, 9, 16]

# Filter function

The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function

The filter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.

In [63]:
def check_even(num):
    return num % 2 == 0

In [122]:

nums = [0,1,2,3,4,5,6,7,8,9,10]

In [123]:
filter(check_even,nums)

In [124]:
list(map(check_even,nums))

[True, False, True, False, True, False, True, False, True, False, True]

In [66]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]